body {
  background-color: #fff1e5;
}

.navHomeText {
  font-size: 19px;
  vertical-align: 14px;
}

.cardGrid {
  padding-top: 15px;
}

.schoolTitle {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #262a33;
  color: #f2dfce;
}

.fileHeading {
  text-align: left;
  padding-left: 45px;
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 150px;
}

.footerFixed {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  text-align: center;
}
